name: nosql-rust
services:
  backend:
    container_name: backend
    build: ./
    env_file: ".env"
    ports:
      - 3000:3000
    networks:
      - nosql-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - REACT_APP_API_URL=http://backend:3000
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - nosql-network

  agent:
    build: ./
    env_file: ".env"
    entrypoint: "agent"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
    networks:
      - nosql-network

networks:
  nosql-network:
    driver: bridge
