name: nosql-rust
services:
  #  Metrics collector.
  #  It scrapes targets defined in --promscrape.config
  #  And forward them to --remoteWrite.url
  vmagent:
    image: victoriametrics/vmagent:v1.129.1
    depends_on:
      - "vmauth"
    ports:
      - 8429:8429
    volumes:
      - vmagentdata:/vmagentdata
      - ./prometheus-vm-cluster.yml:/etc/prometheus/prometheus.yml
    command:
      - "--promscrape.config=/etc/prometheus/prometheus.yml"
      - "--remoteWrite.url=http://vmauth:8427/insert/0/prometheus/api/v1/write"
      - "--remoteWrite.basicAuth.username=foo"
      - "--remoteWrite.basicAuth.password=bar"
    networks:
      - nosql-network

  # vmstorage shards. Each shard receives 1/N of all metrics sent to vminserts,
  # where N is number of vmstorages (2 in this case).
  vmstorage-1:
    image: victoriametrics/vmstorage:v1.129.1-cluster
    volumes:
      - strgdata-1:/storage
    command:
      - "--storageDataPath=/storage"
    networks:
      - nosql-network
  vmstorage-2:
    image: victoriametrics/vmstorage:v1.129.1-cluster
    volumes:
      - strgdata-2:/storage
    command:
      - "--storageDataPath=/storage"
    networks:
      - nosql-network

  # vminsert is ingestion frontend. It receives metrics pushed by vmagent,
  # pre-process them and distributes across configured vmstorage shards.
  vminsert-1:
    image: victoriametrics/vminsert:v1.129.1-cluster
    depends_on:
      - "vmstorage-1"
      - "vmstorage-2"
    command:
      - "--storageNode=vmstorage-1:8400"
      - "--storageNode=vmstorage-2:8400"
    networks:
      - nosql-network
  vminsert-2:
    image: victoriametrics/vminsert:v1.129.1-cluster
    depends_on:
      - "vmstorage-1"
      - "vmstorage-2"
    command:
      - "--storageNode=vmstorage-1:8400"
      - "--storageNode=vmstorage-2:8400"
    networks:
      - nosql-network
  # vmselect is a query fronted. It serves read queries in MetricsQL or PromQL.
  # vmselect collects results from configured `--storageNode` shards.
  vmselect-1:
    image: victoriametrics/vmselect:v1.129.1-cluster
    depends_on:
      - "vmstorage-1"
      - "vmstorage-2"
    command:
      - "--storageNode=vmstorage-1:8401"
      - "--storageNode=vmstorage-2:8401"
      - "--vmalert.proxyURL=http://vmalert:8880"
    networks:
      - nosql-network
  vmselect-2:
    image: victoriametrics/vmselect:v1.129.1-cluster
    depends_on:
      - "vmstorage-1"
      - "vmstorage-2"
    command:
      - "--storageNode=vmstorage-1:8401"
      - "--storageNode=vmstorage-2:8401"
      - "--vmalert.proxyURL=http://vmalert:8880"
    networks:
      - nosql-network
  # vmauth is a router and balancer for HTTP requests.
  # It is configured via --auth.config and balances
  # read requests from Grafana, vmui, vmalert among vmselects.
  # It can be used as an authentication proxy.
  vmauth:
    image: victoriametrics/vmauth:v1.129.1
    depends_on:
      - "vmselect-1"
      - "vmselect-2"
    volumes:
      - ./auth-vm-cluster.yml:/etc/auth.yml
    command:
      - "--auth.config=/etc/auth.yml"
    ports:
      - 8427:8427
    networks:
      - nosql-network

  cache:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data
    networks:
      - nosql-network
  postgres:
    container_name: postgres
    ports:
      - "5432:5432"
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - nosql-network
  backend:
    container_name: backend
    build: ./
    env_file: ".env"
    depends_on:
      - cache
      - postgres
      - vminsert-1
      - vminsert-2
    expose:
      - "3000"
    networks:
      - nosql-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - nosql-network

  agent:
    build: ./
    env_file: ".env"
    entrypoint: "agent"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
    depends_on:
      - backend
    networks:
      - nosql-network

networks:
  nosql-network:
    driver: bridge

volumes:
  pgdata: {}
  cache: {}
  vmagentdata: {}
  strgdata-1: {}
  strgdata-2: {}
